[submodule ".vim/bundle/vim-surround"]
  path = .vim/bundle/vim-surround
  url = http://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/DumbBuf.vim"]
  path = .vim/bundle/DumbBuf.vim
  url = http://github.com/tyru/DumbBuf.vim.git
[submodule ".vim/bundle/vim-smartchr"]
  path = .vim/bundle/vim-smartchr
  url = http://github.com/kana/vim-smartchr.git
[submodule ".vim/bundle/neocomplcache"]
  path = .vim/bundle/neocomplcache
  url = http://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/quickrun"]
  path = .vim/bundle/quickrun
  url = http://github.com/ujihisa/quickrun.git
[submodule ".vim/bundle/nerdcommenter"]
  path = .vim/bundle/nerdcommenter
  url = http://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
  path = .vim/bundle/nerdtree
  url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/git-vim"]
  path = .vim/bundle/git-vim
  url = http://github.com/motemen/git-vim.git
[submodule ".vim/bundle/vim-rails"]
  path = .vim/bundle/vim-rails
  url = http://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-ruby"]
  path = .vim/bundle/vim-ruby
  url = http://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-quickrun"]
  path = .vim/bundle/vim-quickrun
  url = http://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/unite.vim"]
  path = .vim/bundle/unite.vim
  url = http://github.com/Shougo/unite.vim.git
[submodule ".zsh/auto-fu.zsh"]
  path = .zsh/auto-fu.zsh
  url = http://github.com/hchbaw/auto-fu.zsh.git
[submodule ".vim/bundle/vim-ref"]
  path = .vim/bundle/vim-ref
  url = http://github.com/thinca/vim-ref.git
[submodule ".vim/bundle/vim-textobj-plugins"]
  path = .vim/bundle/vim-textobj-plugins
  url = https://github.com/thinca/vim-textobj-plugins.git
[submodule ".vim/bundle/vim-textobj-user"]
  path = .vim/bundle/vim-textobj-user
  url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/vim-textobj-syntax"]
  path = .vim/bundle/vim-textobj-syntax
  url = https://github.com/kana/vim-textobj-syntax.git
[submodule ".vim/bundle/vim-textobj-lastpat"]
  path = .vim/bundle/vim-textobj-lastpat
  url = https://github.com/kana/vim-textobj-lastpat.git
[submodule ".vim/bundle/vim-textobj-jabraces"]
  path = .vim/bundle/vim-textobj-jabraces
  url = https://github.com/kana/vim-textobj-jabraces.git
[submodule ".vim/bundle/vim-textobj-indent"]
  path = .vim/bundle/vim-textobj-indent
  url = https://github.com/kana/vim-textobj-indent.git
[submodule ".vim/bundle/vim-textobj-function"]
  path = .vim/bundle/vim-textobj-function
  url = https://github.com/kana/vim-textobj-function.git
[submodule ".vim/bundle/vim-textobj-fold"]
  path = .vim/bundle/vim-textobj-fold
  url = https://github.com/kana/vim-textobj-fold.git
[submodule ".vim/bundle/vim-textobj-entire"]
  path = .vim/bundle/vim-textobj-entire
  url = https://github.com/kana/vim-textobj-entire.git
[submodule ".vim/bundle/open-browser.vim"]
  path = .vim/bundle/open-browser.vim
  url = https://github.com/tyru/open-browser.vim.git
[submodule ".vim/bundle/urilib.vim"]
  path = .vim/bundle/urilib.vim
  url = https://github.com/tyru/urilib.vim.git
[submodule ".vim/bundle/operator-camelize.vim"]
  path = .vim/bundle/operator-camelize.vim
  url = https://github.com/tyru/operator-camelize.vim.git
[submodule ".vim/bundle/vim-operator-user"]
  path = .vim/bundle/vim-operator-user
  url = https://github.com/kana/vim-operator-user.git
[submodule ".vim/bundle/vim-operator-replace"]
  path = .vim/bundle/vim-operator-replace
  url = https://github.com/kana/vim-operator-replace.git
[submodule ".vim/bundle/vimshell"]
  path = .vim/bundle/vimshell
  url = https://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/vimproc"]
  path = .vim/bundle/vimproc
  url = http://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/hatena-vim"]
  path = .vim/bundle/hatena-vim
  url = https://github.com/motemen/hatena-vim.git
[submodule ".vim/bundle/vim-altercmd"]
  path = .vim/bundle/vim-altercmd
  url = https://github.com/tyru/vim-altercmd.git
[submodule ".vim/bundle/vim-textobj-rubyblock"]
	path = .vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
