*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
Session.vim
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc_local
.zsh_alias
samples

.vim/bundle/Align.vim
.vim/bundle/AutoComplPop
.vim/bundle/DumbBuf
.vim/bundle/EasyMotion
.vim/bundle/L9
.vim/bundle/Pydiction
.vim/bundle/SQLUtilities
.vim/bundle/Smooth-Scroll
.vim/bundle/The-NERD-Commenter
.vim/bundle/The-NERD-tree
.vim/bundle/YankRing.vim
.vim/bundle/altercmd
.vim/bundle/camelcasemotion
.vim/bundle/cecutil
.vim/bundle/eregex.vim
.vim/bundle/grep.vim
.vim/bundle/haml.zip
.vim/bundle/minibufexpl.vim
.vim/bundle/neocomplcache
.vim/bundle/open-browser.vim
.vim/bundle/operator-camelize
.vim/bundle/operator-replace
.vim/bundle/operator-user
.vim/bundle/quickrun.vim
.vim/bundle/ref.vim
.vim/bundle/ruby.vim
.vim/bundle/smartchr
.vim/bundle/smartword
.vim/bundle/surround.vim
.vim/bundle/textobj-entire
.vim/bundle/textobj-jabraces
.vim/bundle/textobj-rubyblock
.vim/bundle/textobj-user
.vim/bundle/unite-help
.vim/bundle/unite-outline
.vim/bundle/unite.vim
.vim/bundle/urilib
.vim/bundle/vim-textobj-fold
.vim/bundle/vim-textobj-function
.vim/bundle/vim-textobj-indent
.vim/bundle/vim-textobj-lastpat
.vim/bundle/vim-textobj-plugins
.vim/bundle/vim-textobj-syntax
.vim/bundle/vimproc
.vim/bundle/vimshell
.vim/bundle/vtreeexplorer
