*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
Session.vim
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
*.orig
*.zwc
.zshrc.local
samples

.vim/bundle/

.rake_tasks
.make_targets
.rbenv_init
.ruby-version
.rbenv-version
.bundle
vendor/bundle
Gemfile.lock.tags
.solargraph.yml

.envrc
.python-version
