# vi
set editing-mode vi
set keymap vi-insert

# expand tilde
set expand-tilde on

# japanese
set input-meta on
set convert-meta off
set output-meta on

# ignore lower,upper
set completion-ignore-case on

# auto scroll
set horizontal-scroll-mode on

# history completion by c-n,c-p
"\C-p": history-search-backward
"\C-n": history-search-forward
